repos:

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.11
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    exclude: >
      (?x)^(
          .*\.dat|
          .*\.mac|
          .*\.k|
          .*\.cas
      )$
    args: [-I, .codespellignore]

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.5.2
  hooks:
  - id: add-license-headers
    files: '(ansys|examples|tests)/.*\.(py)|generate_resources.py|archive_examples.py'
    args:
    - --start_year=2022

# For now we disable some of these checks, can be reenabled later
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
#     exclude: "tests/"
