Sphinx==7.2.1
numpydoc==1.5.0
ansys-sphinx-theme==0.9.9
sphinx-copybutton==0.5.2
apispec==6.3.0
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-globalsubs==0.1.1
sphinxnotes-strike==1.2
sphinx-autodoc-typehints==1.23.0
