name: Tests (callable) 

on:
  workflow_call:
    inputs:
      python-version:
        description: Python version to use
        type: string
        default: '3.10'
      toxenv:
        description: Name of the tox environment
        type: string
        default: 'py310'
      runner:
        description: Where to run
        type: string
        default: 'ubuntu-latest'
      hps-version:
        description: HPS version to test against
        type: string
        default: 'latest-dev'
      hps-feature:
        description: HPS Feature to test against (only for latest-dev version)
        type: string
        default: 'main'
      docker-compose-profiles:
        description: Docker compose profiles to use
        type: string
      upload-coverage:
        description: Whether to upload coverage results
        type: boolean
        default: true

jobs:

  tests:
    name: Tests and coverage
    runs-on: ${{ inputs.runner }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python-version }}
        
      - uses: extractions/netrc@v2
        with:
          machine: github.com
          username: pyansys-ci-bot
          password: ${{ secrets.PYANSYS_CI_BOT_PACKAGE_TOKEN }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools tox tox-gh-actions
          mkdir docker-compose-artifact
      
      - name: Start HPS services
        id: hps-services
        uses: ansys/pyhps/.github/actions/hps_services@main
        with:
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          ghcr-username: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          ghcr-token: ${{ secrets.PYANSYS_CI_BOT_PACKAGE_TOKEN }}
          version: ${{ inputs.hps-version }}
          feature: ${{ inputs.hps-feature }}
          profile: ${{ inputs.docker-compose-profiles }}
   
      - name: Test with tox
        run: tox -e ${{ inputs.toxenv }}-coverage
        env:
          HPS_TEST_URL: ${{ steps.hps-services.outputs.url }}
          HPS_TEST_USERNAME: repadmin
          HPS_TEST_PASSWORD: repadmin

      - name: Upload coverage results
        uses: actions/upload-artifact@v5
        if: ${{ inputs.python-version == '3.10' && inputs.upload-coverage }}
        with:
          name: coverage-html
          path: .cov/html
          retention-days: 7

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        if: ${{ inputs.python-version == '3.10' && inputs.upload-coverage }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: '**/test*.xml'

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: always()
        with:
          report_paths: '**/test*.xml'
          check_name: Test Report ${{ inputs.runner }}:${{ inputs.python-version }}
          detailed_summary: true
          include_passed: true

      - name: Publish services info to summary
        if: success() || failure()
        run: cat build_info.md >> $GITHUB_STEP_SUMMARY
